Body{
    margin: 0;
    font-family: sans-serif;
    background-position: center;
}
a{
    text-decoration: none ;
    color: white;
}
header{     
   display: flex;
   background-color: #141611;
   min-height: 70px;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 75px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: #5c4ff0;
}

@media (max-width:458px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}